// 颜色定义规范
$color-white: #fff;
// $color-black: #333;
$color-black: #000;
$color-red: #ed1250;
$color-shallowblue: #64c4ed;
$color-blue: #007fff;
// $color-green: #2BB594;
$color-green: #67C23A;
$color-shallowgray: #F5F5F5;
$color-gray: #818F97;
$color-origin: #FF7B4D;
$color-base: #67C23A;
